<header class="sovos-nav-header">
  <div class="logo-and-product-container">
    <div class="logo-and-product">
      <%= image_tag "logo.svg", class: 'sovos-nav-branding-logo'%>
      <p class="product-name">Rule 7</p>
    </div>
  </div>
  <!-- /.logoAndProductContainer -->
</header> 