<div id="<%= dom_id ruleset %>">
  <p>
    <strong>Name:</strong>
    <%= ruleset.name %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= ruleset.tags %>
  </p>

  <p>
    <strong>Number of rules:</strong>
    <%= ruleset.number_of_rules %>
  </p>

</div>
